#wrapper {
  background: #545454;
  margin-top: 55px;
  transition: all .5s ease;
}
#wrapper.toggled {
  padding-left: 300px;
}
.sidebar {
  width: 300px;
  position: fixed;
  margin-left: -300px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar a + a {
  border-top: 1px solid #444;
}
.sidebar a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
  border-top: 1px solid #444;
}
.sidebar a i {
  margin-right: 5px;
}
.sidebar a:active {
  /*background: #F1544F;*/
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,.4);
}
.navbar .side {
  width: 300px;
  padding: 15px;
}
.content {
  background: #fff;
  min-height: calc(100vh - 55px);
}
.c-content {
  padding: 20px;
}
.title {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.title h3 {
  display: inline-block;
  margin: 0;
}

.primary-menu > li > a {
  background: #545454;
}
.primary-menu > li > a:hover {
  /*background: #F1544F;*/
}
.primary-menu .child_menu a {
  padding-left: 36px;
  background: #3B3B3B;
}
.primary-menu .child_menu a:hover, .primary-menu .child_menu a:focus, .primary-menu .child_menu a:focus:active {
  /*background: #3B3B3B;*/
  background: #3B3B3B;
}
.primary-menu > li.open > a {
  /*background: #F1544F;*/
}
.primary-menu .child_menu {
  display: none;
  /*height: 0;
  overflow-y: hidden;
  transition: .5s linear height;*/
}
.primary-menu .active a {
  color: #fe8620;
}
.primary-menu > li.open .child_menu {
  display: block;
  /*height: auto;*/
}
.primary-menu .icon {
  float: right;
}
.toolbar {
  display: flex;
  margin-bottom: 10px;
  margin-top: 20px;
}
.toolbar h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.toolbar .buttons {
  display: flex;
}
.toolbar .buttons button + button,
.toolbar .buttons a + button,
.toolbar .buttons button + a,
.toolbar .buttons a + a {
  margin-left: 5px;
}
.toolbar .search-input {
  display: flex;
  align-items: center;
  width: 300px;
  padding: 0;
  margin-right: 5px;
  padding-left: 10px;
  padding-top: 2px;
}
.toolbar .search-input .fa {
  margin-right: 5px;
}
.toolbar .search-input input {
  border: 0;
  outline: 0;
  flex-grow: 1;
}
.toolbar .search-input .clear {
  background-color: transparent;
  border: 0;
  outline: 0;
}
.toolbar .leading {
  flex-grow: 1;
  position: relative;
}
.toolbar .leading .dropdown {
  display: inline-block;
  position: static;
}
.toolbar .leading .dropdown .fa {
  float: right;
  margin-top: 2px;
}
.toolbar .leading a.head {
  color: #555;
  text-decoration: none;
  font-size: 20px;
}
.img-preview {
  margin-top: 10px;
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.img-preview img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.gallery {
  margin-top: 10px;
}
.dropzone {
  border-style: dashed;
}
.gallery-thumb {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}
.gallery-thumb .image {
  height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-thumb .text {
  color: #999;
  font-size: 11px;
  margin-top: 5px;
  height: 22px;
}
.input-mini {
  color: #555;
  line-height: 16px;
  vertical-align: middle;
}
.gallery-thumb img {
  max-width: 100%;
  max-height: 100%;
}
.input-group-btn .btn {
  border-bottom-width: 1px;
}
.input-array > div + div {
  margin-top: 10px;
}
.input-ghost {
  border-width: 1px;
  border-radius: 4px;
  line-height: 1.428571429;
  height: 34px;
  background: #fff;
  border-color: #999;
  border-style: dashed;
  box-shadow: none;
  width: 100%; 
  color: #999;
  font-size: 11px;
}
.color-preview {
  padding: 6px;
}
.color-preview .color {
  width: 20px;
  height: 20px;
}
.color-preview-single {
  display: inline-block;
  width: 20px;
  height: 20px;
  content: '';
}

.color-preview-single + .color-preview-single {
  margin-left: 5px;
}
.color-picker-container {
  position: relative;
}
.tab-pane {
  padding-top: 20px;
}
.img-btn {
  padding: 0;
  background: none;
  border: 1px solid #ccc;
  max-width: 100%;
}
.img-btn:hover {
  border-color: #999;
}
.img-btn img {
  max-width: 100%;
  max-height: 200px;
}
#map {
  margin-top: 15px;
  height: 300px;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  border: 1px solid #BF3536;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #bf3535;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
.form-label {
  padding-top: 7px;
}
/* end parsley */
/* typeahead */
/*
 * typehead.js-bootstrap3.less
 * @version 0.2.3
 * https://github.com/hyspace/typeahead.js-bootstrap3.less
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */
.has-warning .twitter-typeahead .tt-input,
.has-warning .twitter-typeahead .tt-hint {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .twitter-typeahead .tt-input:focus,
.has-warning .twitter-typeahead .tt-hint:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-error .twitter-typeahead .tt-input,
.has-error .twitter-typeahead .tt-hint {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .twitter-typeahead .tt-input:focus,
.has-error .twitter-typeahead .tt-hint:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-success .twitter-typeahead .tt-input,
.has-success .twitter-typeahead .tt-hint {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .twitter-typeahead .tt-input:focus,
.has-success .twitter-typeahead .tt-hint:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.input-group .twitter-typeahead:first-child .tt-input,
.input-group .twitter-typeahead:first-child .tt-hint {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  width: 100%;
}
.input-group .twitter-typeahead:last-child .tt-input,
.input-group .twitter-typeahead:last-child .tt-hint {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
}
.input-group.input-group-sm .twitter-typeahead .tt-input,
.input-group.input-group-sm .twitter-typeahead .tt-hint {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-group.input-group-sm .twitter-typeahead .tt-input,
select.input-group.input-group-sm .twitter-typeahead .tt-hint {
  height: 30px;
  line-height: 30px;
}
textarea.input-group.input-group-sm .twitter-typeahead .tt-input,
textarea.input-group.input-group-sm .twitter-typeahead .tt-hint,
select[multiple].input-group.input-group-sm .twitter-typeahead .tt-input,
select[multiple].input-group.input-group-sm .twitter-typeahead .tt-hint {
  height: auto;
}
.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-input,
.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint {
  border-radius: 0;
}
.input-group.input-group-sm .twitter-typeahead:first-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:first-child .tt-hint {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.input-group.input-group-sm .twitter-typeahead:last-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:last-child .tt-hint {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.input-group.input-group-lg .twitter-typeahead .tt-input,
.input-group.input-group-lg .twitter-typeahead .tt-hint {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
select.input-group.input-group-lg .twitter-typeahead .tt-input,
select.input-group.input-group-lg .twitter-typeahead .tt-hint {
  height: 46px;
  line-height: 46px;
}
textarea.input-group.input-group-lg .twitter-typeahead .tt-input,
textarea.input-group.input-group-lg .twitter-typeahead .tt-hint,
select[multiple].input-group.input-group-lg .twitter-typeahead .tt-input,
select[multiple].input-group.input-group-lg .twitter-typeahead .tt-hint {
  height: auto;
}
.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-input,
.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint {
  border-radius: 0;
}
.input-group.input-group-lg .twitter-typeahead:first-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:first-child .tt-hint {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.input-group.input-group-lg .twitter-typeahead:last-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:last-child .tt-hint {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.twitter-typeahead {
  width: 100%;
  float: left;
}
.input-group .twitter-typeahead {
  display: table-cell !important;
}
.twitter-typeahead .tt-hint {
  color: #999999;
}
.twitter-typeahead .tt-input {
  z-index: 2;
}
.twitter-typeahead .tt-input[disabled],
.twitter-typeahead .tt-input[readonly],
fieldset[disabled] .twitter-typeahead .tt-input {
  cursor: not-allowed;
  background-color: #eeeeee !important;
}
.tt-dropdown-menu,
.tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 160px;
  width: 100%;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.tt-dropdown-menu .tt-suggestion,
.tt-menu .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor,
.tt-menu .tt-suggestion.tt-cursor,
.tt-dropdown-menu .tt-suggestion:hover,
.tt-menu .tt-suggestion:hover {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  background-color: #f5f5f5;
  color: #262626;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor a,
.tt-menu .tt-suggestion.tt-cursor a,
.tt-dropdown-menu .tt-suggestion:hover a,
.tt-menu .tt-suggestion:hover a {
  color: #262626;
}
.tt-dropdown-menu .tt-suggestion p,
.tt-menu .tt-suggestion p {
  margin: 0;
}
/* end typeahead */
.lbl {
  background: #76b900;
  color: #fff;
  min-width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 9px;
  font-size: 11px;
  text-align: center;
  line-height: 18px;
  position: absolute;
  top: 5px;
  right: 0;
}
.prodlbl {
  background: #F1544F;
  color: #fff;
  min-width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 9px;
  font-size: 11px;
  text-align: center;
  line-height: 18px;
}
.table-white {
  background: #fff;
}
.navbar-nav .dropdown-menu .label {
  float: right;
  margin-top: 2px;
}
.btn.btn-const {
  border-bottom-width: 1px;
}
.shortcut-highlight {
  color: #888;
  font-size: 11px;
  margin-top: 3px;
  float: right;
}
.child_menu .shortcut-highlight {
  color: #666;
}
.input-row {
  padding-top: 7px;
  display: flex;
}
.input-col {
  flex: 1;
}
.input-col + .input-col {
  margin-left: 10px;
}

.table-container {
  position: relative;
}
.table-container .lo {
  position: absolute;
  top: 37px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,.8);
}
.table-container .lo img {
  max-height: 100%;
}
.pagination {
  margin-top: 0;
}
.table-foot label {
  vertical-align: top;
  padding-top:5px;
}
.table-foot input {
  display: inline-block;
  width: 50px;
  vertical-align: top;
  text-align: center;
}
.table-foot input[type="number"]::-webkit-outer-spin-button,
.table-foot input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.table-foot input[type="number"] {
  -moz-appearance: textfield;
}